<!-- Navigation-->
<nav>
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="/" name="home">WDV 4416</a></li>
    <li class="sidebar-brand"><a href="/contact" name="contact">Contact</a></li>
  </ul>
</nav>
